@media (max-width: 768px) {
    .buttons{
        display: flex;
        width: 95%;
        justify-content: center;
        z-index: 5;
    }
}

@media (min-width: 769px) {
    .buttons{
        display: flex;
        width: 95%;
        justify-content: flex-end;
        z-index: 5;
    }
}

html{
    height: 100%;
    width: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.mem-area{
    max-width: 45em;
    height: 40em;
    background-image: url("images/bg.jpeg");
    margin: 5em auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    padding-left: 10%;
    padding-right: 12%;
}
.mem-area input{
    display: none;
}
.slider-wrapper{
    width: 400%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /*position: relative;*/
    transition: transform 1s;
}
.slider{
    z-index: 0;
    opacity: 0;
    width: 40em;
    height: 30em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*position: absolute;*/
    margin: auto;
    border-radius: 1em;
    /*transform: translateX(50%);*/
    transition: transform 1s;
    overflow: hidden;
}

.slide-1{
    background-image: url("images/mem-1.jpg");
}
.slide-2{
    background-image: url("images/mem-2.jpeg");
}
.slide-3{
    background-image: url("images/mem-3.jpeg");
}
.slide-4{
    background-image: url("images/mem-4.jpg");
}
.mem-description p{

}
.description{
    transform: translateX(50%);
    transition: transform 1s;
    z-index: 0;
    opacity: 0;
}
.des1{

}
.buttons label{
    cursor: pointer;
    width: 1em;
    height: 1em;
    color: #BF9C69;
    display: inline-block;
    border: 2px solid #FBC191;
    border-radius: 50%;
    margin-right: 1em;
    transition: 0.3s;
}

.buttons label:hover{
    background-color: #FBC191;
}
.buttons label:checked{
    background-color: #FBC191;
}

#slide-1:checked ~ .buttons label:nth-of-type(1),
#slide-2:checked ~ .buttons label:nth-of-type(2),
#slide-3:checked ~ .buttons label:nth-of-type(3),
#slide-4:checked ~ .buttons label:nth-of-type(4) {
    background-color: #FBC191;
}

#slide-1:checked ~ .slider-wrapper > .slide-1,
#slide-2:checked ~ .slider-wrapper > .slide-2,
#slide-3:checked ~ .slider-wrapper > .slide-3,
#slide-4:checked ~ .slider-wrapper > .slide-4{
    opacity: 1;
    z-index: 1;
}
#slide-1:checked ~ .slider-wrapper{
    transform: translateX(0);
}
#slide-2:checked ~ .slider-wrapper{
    transform: translateX(-25%);
}
#slide-3:checked ~ .slider-wrapper{
    transform: translateX(-50%);
}
#slide-4:checked ~ .slider-wrapper{
    transform: translateX(-75%);
}
#slide-1:checked ~ .mem-description > .des1,
#slide-2:checked ~ .mem-description > .des2,
#slide-3:checked ~ .mem-description > .des3,
#slide-4:checked ~ .mem-description > .des4 {
    opacity: 1;
    z-index: 1;
}

.mem-description{
    display: flex;
    margin-top: -20px;
    transition: transform 1s;
}
#slide-1:checked ~ .mem-description{
    transform: translateX(-7%);
}
#slide-2:checked ~ .mem-description{
    transform: translateX(-34%);
}
#slide-3:checked ~ .mem-description{
    transform: translateX(-59%);
}
#slide-4:checked ~ .mem-description{
    transform: translateX(-83%);
}

.mem-description p{
    font-family: Arial;
    font-size: 22px;
    color: rgba(74,68,65,0.95);
    white-space: nowrap;
    margin: 0;
}
